.descriptionBlock {
    padding: 10px;
}

.globalImage img{
    width: 100%;
}

.mainPhoto {
    max-width: 200px;
}

.contact {
    padding-left: 15px;
}

.formSummaryError {
    display: inline-block;
    border: red 1px solid;
    padding: 5px;
    color: red;
}